*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.head{
    display: flex;
    height: 80px;
    width: 100%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(21, 80, 53);
}

.img{
    height: 150px;
    width: 120px;
    margin-left: 30px;
    position: relative;
    z-index: 5;
}

.containt{
    margin-left: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.containt > p{
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

.more{
    margin-left: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: bold;
}

.right{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 110px;
    padding: 12px;
    font-size: 16px;
    margin-left: 7px;
    cursor: pointer;
}

.left{
    margin-left: 83.4px;
    font-size: 18px;
    cursor: pointer;
}

/* Main part */


.img2{
    height: auto;
    width: 100%;
    z-index: 2;
    gap: 0;
}

.main1{
    background-color: #ffae4b;
    height: 1100px;
    max-width: 100%;
    z-index: 10;
}

.icon{
    position: absolute;
}

.top{
    margin-left: 60px;
    padding-top: 60px;
    font-size: 15px;
    font-family: sans-serif;
}

.top > p{
    font-size: 21px;
    margin-top: 10px;
}

form{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 20px;
    background-color: #ffae4b;
}

input{
    height: 22px;
    /* border: 5px solid black; */
    width: 22px;
    margin-left: 15px;
    border: none;
    
}

.kuch > label{
    position: relative;
    bottom: 1.5px;
}

form > input{
    box-shadow: 0px 0px 0px 1px #626262;
    border-radius: 50%;
}


.middle{
    margin-top: 50px;
    /* margin-left: 50px; */
    display: flex;
    justify-content: space-evenly;
    height: 260px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 75vw;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-style:initial; */
    font-family: sans-serif;
    font-size: 13.2px;
    font-weight: bold;
    line-height: 22px;
    /* color: rgb(0, 0, 0); */
    color: black;
}

.mleft{
    height: 300px;
    width: 300px;
}

.mleft > ul > li{
    margin-top: 15px;
}

.mmiddle > ul > li{
    margin-top: 15px;
}

.mright > ul > li{
    margin-top: 15px;
}

.down{
    margin-top: 5px;
    height: 100px;
    /* border: #626262 1px solid; */
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.down > img{
    height: 45px;
    width: auto;
}

hr{
    width: 70vw;
    color: #b3b3b3;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 50px;
}


/* Main2 */


.main2{
    height: 750px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.box{
    height: 600px;
    width: 293px;
    border: .001rem solid #cac6c6;
    /* text-align: center; */
    font-family: 'Archivo Narrow', sans-serif;
    margin-top: 100px;
    font-size: 15px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* padding: 15px; */
}


.box > h2{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.box > img{
    height: 131px;
    border-radius: 1px;
}

.box > p{
    font-size: 17px;
    line-height: 25px;
    text-align: left;
    padding-left: 12px;
    padding-right: 5px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.check{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    left: 49px;
    margin-top: 27px;
}

.box > ul{
    margin-left: 30px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 17px;
}

.check1{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    left: 49px;
    margin-top: 58px;
}

.check2{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    left: 49px;
    margin-top: 90px;
}

.check4{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    left: 381px;
    margin-top: 7px;
}

.check5{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    left: 381px;
    margin-top: 38px;
}

.check6{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    left: 381px;
    margin-top: 69px;
}

.check7{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    left: 381px;
    margin-top: 100px;
}

.letest > h3{
    margin-left: 13px;
    margin-top: 23px;
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 10px;
}

.letest{
    background-color:#f5f2f2;
}

.letest > p{
    
    font-size: 13px;
    line-height: 0px;
}

.seminar{
    padding: 15px;
}

.seminar > b{
    font-family: sans-serif;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    top: 20px;
    font-size: 15px;
}

.seminar > span { 
    position: relative;
    top: 40px;
    line-height: 30px;
}

.one, .two, .three, .four{
    height: 23px;
    width: 23px;
    border: 4px solid #626262;
    border-radius: 50%;
    position: relative;
    right: 10px;
    bottom: 2px;
}

.kuch{
    display: flex;
}

.kuch > label{
    margin-right: 50px;
}

/* Main3 */

.main3{
    height: 700px;
    width: 100%;
    background-color: rgb(234, 232, 227);
}

.type{
    display: flex;
    margin-left: 50px;
    font-size: 17px;
    padding-top: 50px;
    color: rgb(8, 97, 57);;
    font-family: Arial, Helvetica, sans-serif;
}

.type > h3{
    position: relative;
    bottom: 3px;
    left: 57px;
    font-size: 30px;
}

.image{
    display: flex;
    gap: 20px;
    margin-left: 325px;
}

.box1{
    height: 500px;
    width: 315px;
    border-radius: 10px;
    border: .1rem solid #626262;
    background-color: white;
}

.box1 > img{
    width: 313px;
    height: auto;
}

.box1 > h3{
    line-height: 50px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.box1 > hr{
    width: 300px;
    margin-left: 5px;
    position: relative;
    bottom: 40px;
}

.box11{
    margin-left: 11px;
    display: flex;
    justify-content: start;
    padding-bottom: 10px;
}

.box11, .box12 > p{
    margin-left: 11px;
}

.box12{
    display: flex;
    margin-left: 10px;
}

.box1 > h4{
    margin-left: 10px;
    line-height: 23px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.box1 > p{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 30px;
    font-size: 15px;
    padding-right: 10px;
    left: 10px;
}
